body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}



h1,h2 {
    color: white;
}



header h1 {
    font-size: 50px;
    margin: 24px auto;
    font-weight: normal; 
}

a {
    display: block;
    color: aquamarine;
    padding-bottom: 24px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

main p {
    color: gray;
    font-size: 21px;
}

footer p {
    color: gray;
    text-align: right;
    margin-right: 8px;
   
}

footer i {
    margin-right: 8px;
}
