body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

header {
    position: relative;
}

header h1 {
    font-size: 50px;
    margin: 24px auto;
    font-weight: normal;
    color: white;
    
}

header a {
    display: block;
    color: aquamarine;
}