body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

header {
    position: relative;
}

h1,h2 {
    color: white;
}

header h1 {
    font-size: 50px;
    margin: 24px auto;
    font-weight: normal;
    
   
}

header a, .promotion-banner a {
    display: block;
    color: aquamarine;
    padding-bottom: 24px;
}

main h2, .promotion-banner h2 {
    font-weight: 300;
    font-size: 42px;
}

main p {
    color: gray;
    font-size: 21px;
}

.promotion-banner {
    margin-top: 24px;
}